/*Custom Background Classes*/
.bg_black
{
    background-color: #000000
}

.bg_dark_blue
{
    background-color: #1b22a0
}

.bg_bootstrap_purple
{
    background-color: #6f5499
}

.bg_white
{
    background-color: #ffffff
}

/* Font Colors */
.ft_light_purple
{
    color: #cdbfe3
}

.ft_white
{
    color: #ffffff
}
