@{
    Layout = Url.Content ("Shared/_Layout.cshtml");
}

<div ng-app="app" ng-controller="mainController" id="mainController" ui-i18n="en">
    <h4>Jobs</h4>

    <div class="separator-8"></div>

    <div id="status" class="alert" ng-hide="status" ng-class="{'alert-success': status, 'alert-danger': !status}">{{ message }}</div>

    <div class="separator-8" ng-hide="status"></div>

    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-default col-sm-1 margin-right-16" role="button" ng-click="refresh()">Refresh</button>
        </div>
    </div>    

    <div class="separator-8"></div>

    <div id="dataTableJobs" ui-grid="dataTableJobs" ui-grid-selection ui-grid-auto-resize style="height:400px;"></div>

    <div class="separator-8"></div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <textarea class="form-control" rows="22" id="job_textarea" ng-model="jobTextContent"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-default col-sm-1 pull-right" role="button" id="btnSave" ng-click="saveCurrentJob()">Save</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        var jobHelper = {
            //hideMessage: function () {
            //    $('#status').hide();
            //},
            //showMessage: function (msg, evtType) {
            //    $('#status').html(msg)
            //        .toggleClass('alert', true)
            //        .toggleClass('alert-success', evtType === "success")
            //        .toggleClass('alert-danger', evtType === "error")
            //        .toggleClass('alert-warning', evtType === "warning")
            //        .toggleClass('alert-info', evtType || 'info' === "info")
            //        .show();
            //}
            actionCount: function (job) {                
                function _count(action) {
                    if (!action) { return 0; }
                    var c = 1, i;
                    if (action.Actions) {
                        for (i = 0; i < action.Actions.length; i++) {
                            c += _count(action.Actions[i]);
                        }
                    }
                    return c;
                }
                if (!job) { return 0; }
                return _count(job.RootAction);
            }
        };

        //** angularJs initialization **
        var ng_app = angular.module('app', ['ui.grid', 'ui.grid.selection', 'ui.grid.autoResize']);
        ng_app.directive('ngSelect2Bind', ['$q', ngSelect2BindDirective]);

        //** angularJs page main controller **
        ng_app.controller('mainController', function ($scope, $http, $timeout) {
            //** angularJs initialization **
            $scope.status = false;
            $scope.message = "loading..."; 

            //$scope.jobTextContent = 'lkjshdflkjhsdkljhlksjdfh';

            //** methods and behaviors **
            $scope.executeQuery = function (operation, data, onsuccess, onerror) {
                var p = {
                    op: operation,
                    data: data
                };
                simpleDialog.loading();
                return $.ajax({
                    url: "./jobs/query",
                    cache: false,
                    async: true,
                    type: 'POST',
                    dataType: "json",
                    data: angular.toJson(p),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data && data.status) {
                            simpleDialog.close();
                            if (typeof onsuccess == 'function') {
                                $timeout(function () {
                                    onsuccess(data.result);
                                });
                            }
                        } else {
                            if (data && data.message) {
                                simpleDialog.warning(data.message);
                            } else {
                                simpleDialog.error();
                            }
                            if (typeof onerror == 'function') {
                                $timeout(function () {
                                    onerror();
                                });
                            }
                        }
                    },
                    error: function () {
                        simpleDialog.error();
                        if (typeof onerror == 'function') {
                            $timeout(function () {
                                onerror();
                            });
                        }
                    }
                });
            };

            $scope.saveCurrentJob = function () {
                try {
                    // parse edited job to check if its a valid json object
                    var job = JSON.parse($scope.jobTextContent);
                    // save  
                    $scope.saveJob(job);
                } catch (e) {
                    simpleDialog.error('Error parsing Job: ' + e.message);
                }
            };

            $scope.saveJob = function (job) {
                $scope.executeQuery('save',
                            { 'job': angular.toJson(job) },
                            function (data) {
                                $scope.refresh();
                                simpleDialog.success('Job saved!');
                            });
            };

            $scope.removeJob = function (job) {
                simpleDialog.warning('Remove job <b>' + job.Name + '</b> ?<br/><br/>' + $scope.getSimpleJobDetails(job), function () {
                    $scope.executeQuery('remove', { 'jobId': job.Id.toString() },
                        function (data) {
                            _page.refresh();
                            simpleDialog.success('Job removed!<br/><br/>' + $scope.getSimpleJobDetails(job));
                        });
                });
            };

            $scope.playJob = function (job) {
                simpleDialog.warning('Execute job <b>' + job.Name + '</b> ?<br/><br/>' + $scope.getSimpleJobDetails(job), function () {
                    $scope.executeQuery('play', { 'jobId': job.Id.toString() },
                        function (data) {
                            _page.refresh();
                            simpleDialog.success('Job executing...<br/><br/>' + $scope.getSimpleJobDetails(job));
                        });
                });
            };

            $scope.getSimpleJobDetails = function (job) {
                var jobDetails = '<ul><li>Job Id: {0}</li><li>Job Name: {1}</li><li>Job Group: {2}</li></ul>';
                return jobDetails.replace('{0}', job.Id).replace('{1}', job.Name).replace('{2}', job.Group);
            };

            $scope.showMessage = function (message, isError) {
                $scope.status = !isError;
                $scope.message = message || "";
            };

            $scope.clearItem = function () {
                $scope.selectedJob = null;
                $scope.jobTextContent = '';
            };

            $scope.selectItem = function (item) {
                if (item) {
                    $scope.selectedJob = item;
                    $scope.jobTextContent = angular.toJson(item, true, 10);
                } else {
                    $scope.clearItem();
                }
            };

            $scope.refresh = function () {
                $scope.showMessage("loading...");

                $scope.executeQuery('load', null,
                    function (data) {                        
                        $scope.showMessage('data loaded!');
                        $scope.dataTableJobs.data = data;
                        // refresh selected item
                        if ($scope.selectedJob) {
                            for (var i = 0, len = data.length; i < len; i++) {
                                if (data[i].Id === $scope.selectedJob.Id) {
                                    $scope.dataTableJobsApi.selection.selectRow(data[i]);
                                    break;
                                }
                            }
                        }
                    }, function () {
                        $scope.clearItem();
                        $scope.showMessage("Loading failled!", true);
                    });
            };

            //** UI components configuration **
            (function () {
                // table configuration
                $scope.dataTableJobs = {
                    appScopeProvider: $scope,
                    enableGridMenu: false,
                    rowHeight: 36,
                    multiSelect: false,
                    noUnselect: true,
                    enableRowSelection: true,
                    enableSelectionBatchEvent: false,
                    enableSelectAll: false,
                    enableRowHeaderSelection: false,
                    showGridFooter: true,
                    onRegisterApi: function (gridApi) {
                        $scope.dataTableJobsApi = gridApi;
                        gridApi.selection.on.rowSelectionChanged($scope, function (row) {
                            if (row.isSelected) {
                                $scope.selectItem(row.entity);
                            } else {
                                $scope.clearItem();
                            }
                        });
                    },
                    columnDefs: [
                            { name: 'Id', field: "Id", resizable: true },
                            { name: 'Name', field: "Name", resizable: true },
                            { name: 'Group', field: "Group", resizable: true },
                            { name: 'Description', field: "Description", resizable: true },
                            { name: 'Enabled', field: "Enabled", resizable: true },
                            { name: 'Actions', resizable: true, cellTemplate: '<div>{{ jobHelper.actionCount(row.entity) }}</div>' },
                            { name: 'Actions', displayName: '', resizable: true, enableColumnMenu: false, enableSorting: false, cellTemplate:
                                         '<div><button type="button" role="button" ng-click="grid.appScope.playJob(row.entity)" class="btn btn-default btn-small margin-horizontal-2"><i class="fa fa-play"></i></button>' +
                                         '<button type="button" role="button" ng-click="grid.appScope.removeJob(row.entity)" class="btn btn-default btn-small margin-horizontal-2"><i class="fa fa-trash-o text-danger"></i></button></div>'
                            }
                    ],
                    data: []
                };
            })();
        });


        // initialization
        $(document).ready(function () {
            angular.element('#mainController').scope().refresh();        
        });
    </script>
}