@{
    Layout = Url.Content ("Shared/_Layout.cshtml");
}

<div  id="mainController" ui-i18n="en">
    <h4>Test Page</h4>

    <div class="separator-8"></div>
    
</div>


@section scripts {
    <script type="text/javascript">
        
    </script>
}